.lang-selector {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  color: #555555;
  text-transform: none;
  padding: 0;

  .mat-ripple-element {
    display: none;
  }
}

.lang-icon {
  font-size: 20px;
  margin-right: 4px;
  color: #555555;
}

.label {
  margin-right: 4px;
  font-weight: 400;
}

.lang-text {
  margin-right: 4px;
  font-weight: 500;
  color: #1976d2;
}

.arrow-icon {
  font-size: 20px;
  color: #555555;
}
