 /**********************
FONT SIZES
/***********************/
$font-3xl: 57px;
$font-2xl: 45px;
$font-xl: 36px;
$font-l: 28px;
$font-m: 16px;
$font-s: 14px;
$font-xs: 12px;
$font-xxs: 11px;
/**********************
COLORS
/***********************/
$white: #fff;
$black: #000;
$neutral-10: #1d1b1e;
$neutral-20: #323033;
$neutral-30: #49464a;
$neutral-40: #605d61;
$neutral-50: #79767a;
$neutral-60: #938f93;
$neutral-70: #afaaaf;
$neutral-80: #cac5c9;
$neutral-90: #e7e1e6;
$neutral-95: #eff2f5;
$neutral-99: #f2f2f2;
$primary: #ff6c00;
$secondary: #16697a;
$background-primary: $white;
$error: #ba1b1b;
$warning: #ffb10a;
$success: #4c7e0b;
$font-stack: "Lato", sans-serif;

/**********************
SPACING
/***********************/
$spacing-xs: 4px;
$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 30px;
$spacing-xl: 40px;
$spacing-xxl: 60px;

/**********************
BORDER RADIUS
/***********************/
$border-radius-s: 4px;
$border-radius-m: 8px;
$border-radius-l: 16px;