<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
  <mat-form-field
    appearance="outline"
    floatLabel="never"
    class="full-width"
  >
    <input
      matInput
      placeholder="{{ 'LOGIN.EMAIL' | translate }}"
      formControlName="email"
      type="email"
    />
    <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
      {{ 'LOGIN.ERRORS.EMAIL_REQUIRED' | translate }}
    </mat-error>
    <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
      {{ 'LOGIN.ERRORS.EMAIL_INVALID' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field
    appearance="outline"
    floatLabel="never"
    class="full-width"
  >
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      placeholder="{{ 'LOGIN.PASSWORD' | translate }}"
      formControlName="password"
    />
    <button
      mat-icon-button
      matSuffix
      type="button"
      aria-label="Toggle password visibility"
      (click)="hide = !hide"
    >
      <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
      {{ 'LOGIN.ERRORS.PASSWORD_REQUIRED' | translate }}
    </mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    class="full-width login-button"
    type="submit"
    [disabled]="loginForm.invalid"
  >
    {{ 'LOGIN.BUTTON' | translate }}
  </button>
</form>
